<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncepu.campus_environment.mapper.CampusSoilMapper">

    <resultMap id="campusSoilMapper" type="com.ncepu.campus_environment.entity.CampusSoil">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="node" jdbcType="VARCHAR" property="node"/>
        <result column="soil_hum" jdbcType="VARCHAR" property="soilHum"/>
        <result column="soil_tem" jdbcType="VARCHAR" property="soilTem"/>
        <result column="soil_ph" jdbcType="VARCHAR" property="soilPH"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
    </resultMap>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="campusSoilMapper">
        SELECT * FROM campus_environment.campus_soil WHERE id = #{id}
    </select>
    <select id="selectByNode" parameterType="java.util.Map" resultMap="campusSoilMapper">
        SELECT * FROM campus_environment.campus_soil WHERE campus_soil.node = #{node}
        ORDER BY campus_soil.receive_time DESC LIMIT #{limit}
    </select>
    <insert id="insertData" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        INSERT into campus_environment.campus_soil (node, soil_hum, soil_tem, soil_ph, receive_time) values
            (#{node, jdbcType=VARCHAR},
             #{soilHum, jdbcType=VARCHAR},
             #{soilTem, jdbcType=VARCHAR},
             #{soilPH, jdbcType=VARCHAR},
             #{receiveTime, jdbcType=TIMESTAMP})
    </insert>
    <delete id="deleteByNode" parameterType="java.lang.String">
        DELETE FROM campus_soil WHERE node = #{node}
    </delete>

</mapper>