<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncepu.campus_environment.mapper.CampusWindMapper">

    <resultMap id="campusWindMapper" type="com.ncepu.campus_environment.entity.CampusWind">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="node" jdbcType="VARCHAR" property="node"/>
        <result column="wind_speed" jdbcType="VARCHAR" property="windSpeed"/>
        <result column="wind_direction" jdbcType="VARCHAR" property="windDirection"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
    </resultMap>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="campusWindMapper">
        SELECT * FROM campus_environment.campus_wind WHERE id = #{id}
    </select>
    <select id="selectByNode" parameterType="java.util.Map" resultMap="campusWindMapper">
        SELECT * FROM campus_environment.campus_wind WHERE campus_wind.node = #{node}
        ORDER BY campus_wind.receive_time DESC LIMIT #{limit}
    </select>
    <insert id="insertData" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        INSERT into campus_environment.campus_wind (node, wind_speed, wind_direction, receive_time) values
            (#{node, jdbcType=VARCHAR},
             #{windSpeed, jdbcType=VARCHAR},
             #{windDirection, jdbcType=VARCHAR},
             #{receiveTime, jdbcType=TIMESTAMP})
    </insert>
    <delete id="deleteByNode" parameterType="java.lang.String">
        DELETE FROM campus_wind WHERE node = #{node}
    </delete>

</mapper>